@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css');

:root {
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.interactiveBox {
  @apply p-4 bg-white rounded-2xl shadow-lg hover:shadow-lg transition duration-300 ease-in-out transform hover:translate-y-1 sm:w-[180px] lg:w-[220px];
}
.footerIcon {
  @apply cursor-pointer hover:opacity-80 transition-opacity duration-300;
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60%;
  height: 60%;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  left: 0;
  animation: aurora-border 6s ease-in-out infinite, aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite, aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite, aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite, aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

/* 한줄씩 내려오는 애니메이션 */
.animated_text {
  display: inline-block;
  opacity: 0;
  animation: fadeInDown 0.5s ease forwards;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 프로젝트 컨테이너 부분 */
.project_container {
  @apply container flex mx-auto mt-4;
}

/* 슬라이더 세부 */
.slider_container {
  @apply mt-8;
  .slick-track {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}

.hamburger {
  overflow: hidden;
  height: 0;
  position: fixed;
  transition: height 0.2s ease-out;

  & > li {
    @apply mb-2 py-2;
  }

  &.open {
    visibility: visible;
    height: 240px;
  }
}

/* archiving */
.archiving_items_container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.archiving_item_container {
  padding: 2rem;
  width: 26rem;
  border-radius: 1rem;
  background-color: white;
  min-height: 22rem;
  margin-bottom: 2rem;
}

.common_card_effect {
  transition-duration: 300ms;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.5), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.archiving_item_container:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: translateY(10px);
  &:hover {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: translateY(10px);
  }
}
.archiving_img_container {
  display: block;
  width: 12rem;
  margin-bottom: 1rem;
}

.arching_list_container {
  list-style-type: disc;
  padding-left: 1rem;
}
.archiving_contents_container {
  margin: 0 auto;
  width: 100%;
  max-width: 68rem;
}
/* skills */
.skills_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-around;
}

@media (max-width: 576px) {
  .skills_container {
    height: calc(100% - (6.5rem + 1px));
  }
}
@media (max-width: 992px) {
  .skills_container {
    height: calc(100% - (17rem + 1px));
  }
}

/* career */
.career_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 950px) {
  .career_container {
    flex-direction: row;
  }
}
.career_entire_container {
  margin: 0 auto;
  width: 100%;
}

.career_logo_container {
  align-self: center;
  padding-bottom: 2rem;
}

@media (min-width: 950px) {
  .career_logo_container {
    padding-right: 3rem;
    align-self: self-start;
    border-right: 1px solid #b4b4b4;
    height: 100vh;
  }
  .career_info_container {
    padding-left: 3rem;
  }
}

.career_logo_wrapper {
  padding: 0.3rem;

  display: flex;

  width: 15rem;
  height: 15rem;
  margin: auto;
  justify-self: center;
  align-items: center;
  border-radius: 10rem;
  border: 1px solid #ccc;

  background-color: #fff;
}
.career_logo_img {
  width: 100%;
}

.career_title {
  font-weight: 900;
  font-size: 1.6rem;
}

.career_link {
  position: relative;
  &:visited .fa-link {
    color: #747373;
  }
  &:hover {
    transform: scale(1.15);
  }
  & .fa-link {
    position: absolute;
    top: 0;
    padding: 5px;
    transition: transform 0.5s ease;
  }
}

.career_period {
  color: #ccc;
  padding-bottom: 0.5rem;
}

.career_description {
  border-bottom: 1px solid #b4b4b4;
  padding-bottom: 1rem;
  line-height: 2rem;
}

.career_work_title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
}
.career_work_period {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 1rem;
}
.career_work_list {
  list-style: disc;
  padding-left: 1rem;
  & > li {
    margin-bottom: 0.5rem;
  }
}

.career_work_container {
  margin-bottom: 3rem;
}
